html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* CABECALHO CELULAR */

  header{
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

 .ull{
    text-decoration:underline;
    margin-top: 1px;
    color:rgb(112, 112, 112) ;
    display: flex;
    list-style-type: none;
  }

  .lii{
    margin-right: 20px;
  }

  .headerp{
    font-size: 20px;
  }
  /* CABECALHO CELULAR */

  /* CHAPTERS CELULAR*/
  .aside-one{
    margin: 15px;
    margin-bottom: 40px;
  }

  aside h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
  }

  .chaptersul{
    font-size: 18px;
  }
  /* CHAPTERS CELULAR*/

  /* INFORMATION CELULAR*/
  .info-ul{
    font-size: 18px;
  }

  .text-info{
    font-size: 35px;
    margin-bottom: 20px
  }

  .aside-two{
    margin: 15px;
    margin-bottom: 40px;
  }
  /* INFORMATION CELULAR*/

  /* CHAPTER I. CELULAR*/
  .chapter-h1{
    margin: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  article p{
    margin: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  /* CHAPTER I. CELULAR*/

  /* FOOTER CELULAR */
  footer {
    background-color:rgb(231, 231, 231) ;
    margin-top: 20px;
    height: 300px;
  }

  footer h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
  }

  /* FOOTER CELULAR */

  @media  screen and (min-width: 767px) {
    body {
        background-color: rgb(189, 189, 189);
    }

    header {
      border-radius: 2px;
      justify-content: space-around;
    }

    .textChapters {
      margin-bottom: 5px;
      text-align: center;
      justify-content: center;
      display: flex;
      font-size: 60px;
    }

    .info-ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      font-size: 30px;
    }

    .div-ul {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 70px;
    }

    #text{
      font-size: 40px;
    }

    #footer {
      border-radius: 2px;
      height: 50px;
      display: flex;
      flex-direction: column;
      background-color: rgb(231, 231, 231);
    }

    #title-footer {
     text-align: center;
     font-size: 32px;
    }

    #text-footer {
      text-align: center;
    }
  }

  @media  screen and (min-width: 1020px){
    #nav-ul {
      display: flex;
      align-items: center;
    }
  }