h1{
    font-family: sans-serif;
}

p{
    font-style: Arial;
}


body{
    font-size: 16px;
}

.a{
    background-color: blue;
}

.b{
    background-color: rgb(189, 189, 189);
}

.c{
    background-color: yellow;
}